/* Responsive Styles */
/* 1280px */
@media (max-width: 80em) {
  .hero__heading {
    font-size: 5.6rem;
  }

  .floating-card--left {
    left: 2%;
  }

  .floating-card--right {
    right: 1%;
  }
}

/* 1024px */
@media (max-width: 64em) {
  .floating-card {
    display: none;
  }

  .statistics__grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .heading-3 {
    font-size: 3.6rem;
  }
}
/* 768px */
@media (max-width: 48em) {
  .header__navbar {
    flex-direction: column;
    gap: 2.4rem;
  }

  .header__nav-right {
    flex-direction: column;
    gap: 2.4rem;
  }

  .hero {
    padding: 6rem 0 8rem;
  }

  .hero__heading {
    font-size: 4.8rem;
  }

  .statistics {
    padding: 4rem 1.6rem;
  }

  .story {
    padding: 4rem 0 8rem;
  }
  .story__description {
    width: 80%;
  }

  .heading-3 {
    font-size: 3rem;
  }
}

/* 600px */
@media (max-width: 37.5em) {
  .br-none {
    display: none;
  }
}

/* 480px */
@media (max-width: 30em) {
  .hero__heading {
    font-size: 3.6rem;
  }

  .statistics__grid {
    grid-template-columns: 1fr;
  }

  .heading-3 {
    font-size: 2.4rem;
  }

  .story__description {
    font-size: 1.4rem;
  }
}
